@using System
@using AIP.GUI

@if (Model != null && Model.Count > 0)
{
foreach (var data in Model) {
<div align="center"><strong>@Raw(data.type)</strong></div>
<table frame="border" align="center">
    <colgroup>
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
        <col width="40%" />
    </colgroup>
	<thead>
	<tr class="Table-row-type-1">
		<th class="bleft btop bright bbottom">@Raw(@data.TitleName)<br />@Raw(@Tpl.Text("AD15_1"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD15_2"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD15_3"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD15_4"))</th>
	</tr>
	</thead>
	<tbody valign="top">
	@foreach (var subdata in data.Row) {
		<tr>
			<td class="bleft btop bright bbottom" colspan="1">@Raw(subdata["Name"])<br />@Raw(subdata["LocationIndicatorICAO"])</td>
			<td class="bleft btop bright bbottom" colspan="1">@Raw(subdata["CertificationDate"])</td>
			<td class="bleft btop bright bbottom" colspan="1">@Raw(subdata["CertificationValidity"])</td>
			<td class="bleft btop bright bbottom" colspan="1">@Raw(subdata["Remarks"])</td>
		</tr>
	}
	</tbody>
</table>
 }
}