@using System
@using AIP.GUI
<table width="100%" frame="border" align="center">
    <colgroup>
        <col width="4%" />
        <col width="48%" />
        <col width="48%" />
    </colgroup>
    <tbody>
        <tr>
            <th align="left" class="bleft btop bright bbottom" width="10">1</th>
		<th align="left" class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD216_1"))</th>
            <td class="bleft btop bright bbottom">
                @foreach (var data in Model)
            { <text>@Raw(data.Designator) - @Raw(data.Coords)<br />@Raw(data.GeoidUndulation)</text>}
        </td>
    </tr>
    <tr>
        <th align="left" class="bleft btop bright bbottom">2</th>
		<th align="left" class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD216_2"))</th>
        <td class="bleft btop bright bbottom">@foreach (var data in Model)
        { <text>@Raw(data.Designator) - @Raw(data.Elevation)</text>}</td>
    </tr>
    <tr>
        <th align="left" class="bleft btop bright bbottom">3</th>
		<th align="left" class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD216_3"))</th>
        <td class="bleft btop bright bbottom">@foreach (var data in Model)
        { <text>@Raw(data.Designator) - @Raw(data.Dimension)<br />@Raw(data.Composition)<br />@Raw(data.SurfaceProperties)</text>}</td>
    </tr>
    <tr>
        <th align="left" class="bleft btop bright bbottom">4</th>
		<th align="left" class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD216_4"))</th>
        <td class="bleft btop bright bbottom">@foreach (var data in Model)
        { <text>@Raw(data.Designator) - @Raw(data.TrueBearing)</text>}</td>
    </tr>
    <tr>
        <th align="left" class="bleft btop bright bbottom">5</th>
		<th align="left" class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD216_5"))</th>
        <td class="bleft btop bright bbottom">@foreach (var data in Model)
        { <text>@Raw(data.Designator) - @Raw(data.DeclaredDistance)</text>}</td>
    </tr>
    <tr>
        <th align="left" class="bleft btop bright bbottom">6</th>
		<th align="left" class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD216_6"))</th>
        <td class="bleft btop bright bbottom">@foreach (var data in Model)
        { <text>@Raw(data.Designator) - @Raw(data.ApproachLighting)</text>}</td>
    </tr>
    <tr>
        <th align="left" class="bleft btop bright bbottom">7</th>
		<th align="left" class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD216_7"))</th>
        <td class="bleft btop bright bbottom">@foreach (var data in Model)
        { <text>@Raw(data.Designator) - @Raw(data.Remarks)</text>}</td>
    </tr>
</tbody>
</table>