@using System
@using AIP.GUI

<table frame="border" align="center">
    <colgroup>
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
    </colgroup>
	<thead>
	<tr class="Table-row-type-1">
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD210_1"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD210_2"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD210_3"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD210_4"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD210_5"))</th>
	</tr>
	<tr class="Table-row-type-2">
		<th class="bleft btop bright bbottom">a</th>
		<th class="bleft btop bright bbottom">b</th>
		<th class="bleft btop bright bbottom">c</th>
		<th class="bleft btop bright bbottom">d</th>
		<th class="bleft btop bright bbottom">e</th>
	</tr>
	</thead>
	<tbody valign="top">
	<tr>
		<td class="bleft btop bright bbottom" colspan="5"><strong>@Raw(@Tpl.Text("AD210_6"))</strong></td>
	</tr>
	@foreach (var data in Model.AREA2)
	{
		<tr>
			<td class="bleft btop bright bbottom">
				<strong class="Cell-body">@Raw(data["Name"])</strong>
			</td>
			<td class="bleft btop bright bbottom">@Raw(data["Type"])<br/>@Raw(data["Elevation"]) @Raw(data["Height"])</td>
			<td class="bleft btop bright bbottom">>@Raw(@Tpl.Text("AD210_MRK")): @Raw(data["MarkingPattern"]) @Raw(data["MarkingFirstColour"]) @Raw(data["MarkingSecondColour"])<br/>@Raw(@Tpl.Text("AD210_LGT")): @Raw(data["Lighted"]) @Raw(data["LightElementColour"]) @Raw(data["LightElementType"])

            </td>
			<td class="bleft btop bright bbottom">@Raw(data["Coordinates"])</td>
			<td class="bleft btop bright bbottom">@Raw(data["Remarks"])</td>
		</tr>
	}
	<tr>
		<td class="bleft btop bright bbottom" colspan="5"><strong>@Raw(@Tpl.Text("AD210_7"))</strong></td>
	</tr>
	@foreach (var data in Model.AREA3)
	{
		<tr>
			<td class="bleft btop bright bbottom">
				<strong class="Cell-body">@Raw(data["Name"])</strong>
			</td>
			<td class="bleft btop bright bbottom">@Raw(data["Type"])<br/>@Raw(data["Elevation"]) @Raw(data["Height"])</td>
			<td class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD210_MRK")): @Raw(data["MarkingPattern"]) @Raw(data["MarkingFirstColour"]) @Raw(data["MarkingSecondColour"])<br/>@Raw(@Tpl.Text("AD210_LGT")): @Raw(data["Lighted"]) @Raw(data["LightElementColour"]) @Raw(data["LightElementType"])
			</td>
			<td class="bleft btop bright bbottom">@Raw(data["Coordinates"])</td>
			<td class="bleft btop bright bbottom">@Raw(data["Remarks"])</td>
		</tr>
	}
	</tbody>
</table>