@using System
@using AIP.GUI

@if (Model != null && Model.Count > 0)
{
<table frame="border" align="center">
    <colgroup>
        <col width="14%" />
        <col width="14%" />
        <col width="14%" />
        <col width="14%" />
        <col width="14%" />
        <col width="14%" />
        <col width="16%" />
    </colgroup>
	<thead>
	<tr class="Table-row-type-1">
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD212_1"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD212_2"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD212_3"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD212_4"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD212_5"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD212_6"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD212_7"))</th>
	</tr>
	<tr class="Table-row-type-2">
		<th class="bleft btop bright bbottom">1</th>
		<th class="bleft btop bright bbottom">2</th>
		<th class="bleft btop bright bbottom">3</th>
		<th class="bleft btop bright bbottom">4</th>
		<th class="bleft btop bright bbottom">5</th>
		<th class="bleft btop bright bbottom">6</th>
		<th class="bleft btop bright bbottom">7</th>
	</tr>
	</thead>
		<tbody valign="top">
		@foreach (var data in Model)
		{
			<tr>
				<td class="bleft btop bright bbottom">@Raw(data.Designator)</td>
				<td class="bleft btop bright bbottom">@Raw(@data.TrueBearing)</td>
				<td class="bleft btop bright bbottom">@Raw(@data.Dimensions)</td>
				<td class="bleft btop bright bbottom">@Raw(@data.RWYSurface)<br/>@Raw(@data.SWYSurface)</td>
				<td class="bleft btop bright bbottom">@Raw(@data.GeoCoords)<br/>@Raw(@data.GeoidUndulation)</td>
				<td class="bleft btop bright bbottom">@Raw(@data.Elevation)</td>
				<td class="bleft btop bright bbottom">@Raw(@data.SlopeTDZ)</td>
			</tr>
		}
		</tbody>
</table>
}
@if (Model != null && Model.Count > 0)
{
<table frame="border" align="center">
    <colgroup>
        <col width="14%" />
        <col width="14%" />
        <col width="14%" />
        <col width="14%" />
        <col width="14%" />
        <col width="14%" />
        <col width="16%" />
    </colgroup>
	<thead>
	<tr class="Table-row-type-1">
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD212_8"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD212_9"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD212_10"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD212_11"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD212_12"))</th>
	</tr>
	<tr class="Table-row-type-2">
		<th class="bleft btop bright bbottom">8</th>
		<th class="bleft btop bright bbottom">9</th>
		<th class="bleft btop bright bbottom">10</th>
		<th class="bleft btop bright bbottom">11</th>
		<th class="bleft btop bright bbottom">12</th>
	</tr>
	</thead>
		<tbody valign="top">
		@foreach (var data in Model)
		{
			<tr>
				<td class="bleft btop bright bbottom">@Raw(data.SWYDimensions)</td>
				<td class="bleft btop bright bbottom">@Raw(data.CWYDimensions)</td>
				<td class="bleft btop bright bbottom">@Raw(data.StripDimensions)</td>
				<td class="bleft btop bright bbottom">@Raw(data.OFZ)</td>
				<td class="bleft btop bright bbottom">@Raw(data.Remarks)</td>
			</tr>
		}
		</tbody>
</table>
}