@using System
@using AIP.GUI
@{
    int Col = 6;
    int i = 1;
}
@if (Model != null && Model.Count > 0)
{
<table frame="border" align="center">
    <colgroup>
        <col width="18%" />
        <col width="14%" />
        <col width="14%" />
        <col width="14%" />
        <col width="14%" />
        <col width="26%" />
    </colgroup>
	<thead>
	<tr class="Table-row-type-1">
	    @for (i = 1; i <= Col; i++)
	    {
	        <th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD213_"+@i))</th>
	    }
	</tr>
	<tr class="Table-row-type-2">
	    @for (i = 1; i <= Col; i++)
	    {
	        <th class="bleft btop bright bbottom">@i</th>
	    }
	</tr>
	</thead>
		<tbody valign="top">
		@foreach (var data in Model)
		{
			<tr>
				<td class="bleft btop bright bbottom">@Raw(data.Designator)</td>
				<td class="bleft btop bright bbottom">@Raw(data.TORADistance)</td>
				<td class="bleft btop bright bbottom">@Raw(data.TODADistance)</td>
				<td class="bleft btop bright bbottom">@Raw(data.ASDADistance)</td>
				<td class="bleft btop bright bbottom">@Raw(data.LDADistance)</td>
				<td class="bleft btop bright bbottom">@Raw(data.Remarks)</td>
			</tr>
		}
		</tbody>
</table>
}