@using System
@using AIP.GUI
@if (Model != null && Model.AREA2 != null && Model.AREA2.Count > 0)
{
<table frame="border" align="center">
    <colgroup>
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
    </colgroup>
	<thead>
	<tr class="Table-row-type-1">
	    <th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD310_1"))</th>
	    <th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD310_2"))</th>
	    <th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD310_3"))</th>
	    <th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD310_4"))</th>
	    <th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD310_5"))</th>
	</tr>
	<tr class="Table-row-type-2">
		<th class="bleft btop bright bbottom">1</th>
		<th class="bleft btop bright bbottom">2</th>
		<th class="bleft btop bright bbottom">3</th>
		<th class="bleft btop bright bbottom">4</th>
		<th class="bleft btop bright bbottom">5</th>
	</tr>
	</thead>
	<tbody valign="top">
	@foreach (var data in Model.AREA2)
	{
		<tr>
			<td class="bleft btop bright bbottom">
				<strong class="Cell-body">@Raw(data["Name"])</strong>
			</td>
			<td class="bleft btop bright bbottom">@Raw(data["Type"])<br/>@Raw(data["Elevation"]) @Raw(data["Height"])</td>
			<td class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD310_MRK")): @Raw(data["MarkingPattern"]) @Raw(data["MarkingFirstColour"]) @Raw(data["MarkingSecondColour"])<br/>@Raw(@Tpl.Text("AD310_LGT")): @Raw(data["Lighted"]) @Raw(data["LightElementColour"]) @Raw(data["LightElementType"])

            </td>
			<td class="bleft btop bright bbottom">@Raw(data["Coordinates"])</td>
			<td class="bleft btop bright bbottom">@Raw(data["Remarks"])</td>
		</tr>
	}
	</tbody>
</table>
}