@using System
@using AIP.GUI
@if (Model != null && Model.Count > 0)
{
<table frame="border" align="center">
    <colgroup>
        <col width="25%" />
        <col width="25%" />
        <col width="25%" />
        <col width="25%" />
    </colgroup>
	<thead>
	<tr class="Table-row-type-1">
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD313_1"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD313_2"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD313_3"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("AD313_4"))</th>
	</tr>
	<tr class="Table-row-type-2">
		<th class="bleft btop bright bbottom">1</th>
		<th class="bleft btop bright bbottom">2</th>
		<th class="bleft btop bright bbottom">3</th>
		<th class="bleft btop bright bbottom">4</th>
	</tr>
	</thead>
	<tbody valign="top">
	@foreach (var data in Model)
	{
		<tr>
			<td class="bleft btop bright bbottom">@Raw(data.TODAHDistance)</td>
			<td class="bleft btop bright bbottom">@Raw(data.RTODAHDistance)</td>
			<td class="bleft btop bright bbottom">@Raw(data.LDAHDistance)</td>
			<td class="bleft btop bright bbottom">@Raw(data.Remarks)</td>
		</tr>
	}
	</tbody>
</table>
}