@using System
@using AIP.GUI


@foreach (var data in Model)
{
	<table frame="border" align="center">
	    <colgroup>
	        <col width="60%" />
	        <col width="10%" />
	        <col width="10%" />
	        <col width="10%" />
	        <col width="10%" />
	    </colgroup>
		<thead>
		<tr class="Table-row-type-1">
			<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("ENR21_1"))</th>
			<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("ENR21_2"))</th>
			<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("ENR21_3"))</th>
			<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("ENR21_4"))</th>
			<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("ENR21_5"))</th>
		</tr>
		<tr class="Table-row-type-2">
			<th class="bleft btop bright bbottom">1</th>
			<th class="bleft btop bright bbottom">2</th>
			<th class="bleft btop bright bbottom">3</th>
			<th class="bleft btop bright bbottom">4</th>
			<th class="bleft btop bright bbottom">5</th>
		</tr>
		</thead>
		<tbody valign="top">
		<tr>
			<td class="bleft btop bright bbottom" colspan="5"><strong>@Raw(data.Type)</strong></td>
		</tr>
		@foreach (var Row in data.Row)
		{
			<tr>
				<td class="bleft btop bright bbottom"><strong class="Cell-body">@Raw(Row.Name)</strong>
					<p class="Cell-body">@Raw(Row.Points)</p>
					<p class="Cell-body">@Raw(Row.Limit)</p>
					<p class="Cell-body">@Raw(@Tpl.Text("ENR21_CLASS")):<br/>@Raw(Row.Class)
					</p>
				</td>
				<td class="bleft btop bright bbottom">@Raw(@Row.UnitName)</td>
				<td class="bleft btop bright bbottom">@Raw(@Row.CallSign)<br/>@Raw(@Row.Language)<br/></td>
				<td class="bleft btop bright bbottom">@Raw(@Row.Freq)</td>
				<td class="bleft btop bright bbottom">@Raw(@Row.Notes)</td>
			</tr>
		}
		</tbody>
	</table>
}