@using System
@using AIP.GUI
@{
    int Col = 5;
    int i = 1;
}
<table frame="border" align="center">
    <colgroup>
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
    </colgroup>
    <thead>
    <tr class="Table-row-type-1">
        @for (i = 1; i <= Col; i++)
        {
            <th class="bleft btop bright bbottom">@Raw(@Tpl.Text("ENR45_"+@i))</th>
        }
    </tr>
    <tr class="Table-row-type-2">
        @for (i = 1; i <= Col; i++)
        {
            <th class="bleft btop bright bbottom">@i</th>
        }
    </tr>
    </thead>
    <tbody valign="top">
    @foreach (var Row in Model)
    {
        <tr>
            <td class="bleft btop bright bbottom">@Raw(Row["Name"])</td>
            <td class="bleft btop bright bbottom">@Raw(Row["Type"]) @Raw(Row["Intensity"])</td>
            <td class="bleft btop bright bbottom">@Raw(Row["Color"]) @Raw(Row["Flashing"])</td>
            <td class="bleft btop bright bbottom">@Raw(Row["Availability"])</td>
            <td class="bleft btop bright bbottom">@Raw(Row["Notes"])</td>
        </tr>
    }
    </tbody>
</table>