@using System
@using AIP.GUI
@{
    int Col = 3;
    int i = 1;
}

@if(Model != null && Model.Count > 0)
{
<table frame="border" align="center">
    <colgroup>
        <col width="45%" />
        <col width="10%" />
        <col width="45%" />
    </colgroup>
	<thead>
	<tr class="Table-row-type-1">
	    @for (i = 1; i <= Col; i++)
	    {
	        <th class="bleft btop bright bbottom">@Raw(@Tpl.Text("ENR52_"+@i))</th>
	    }
	</tr>
	<tr class="Table-row-type-2">
	    @for (i = 1; i <= Col; i++)
	    {
	        <th class="bleft btop bright bbottom">@i</th>
	    }
	</tr>
	</thead>
	<tbody valign="top">
	@foreach (var data in Model)
	{
		<tr>
			<td class="bleft btop bright bbottom">@Raw(data.Name)<br />@Raw(data.LateralLimits)</td>
			<td class="bleft btop bright bbottom">@Raw(data.UpperLowerLimits)<br />@Raw(data.SystemMeansOfActivation)</td>
			<td class="bleft btop bright bbottom">@Raw(data.Remarks)<br />@Raw(data.TimeOfActivity)<br />@Raw(data.RiskOfInterception)</td>
		</tr>
	}
	</tbody>
</table>
}