@using System
@using AIP.GUI
@{
    int Col = 5;
    int i = 1;
}
@if (Model != null && Model.Count > 0)
{
<table frame="border" align="center">
    <colgroup>
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
        <col width="40%" />
    </colgroup>
	<thead>
	<tr class="Table-row-type-1">
	    @for (i = 1; i <= Col; i++)
	    {
	        <th class="bleft btop bright bbottom">@Raw(@Tpl.Text("ENR53_"+@i))</th>
	    }
	</tr>
	<tr class="Table-row-type-2">
	    @for (i = 1; i <= Col; i++)
	    {
	        <th class="bleft btop bright bbottom">@i</th>
	    }
	</tr>
	</thead>
	<tbody valign="top">
	@foreach (var data in Model)
	{
		<tr>
			<td class="bleft btop bright bbottom">@Raw(data.Name)<br />@Raw(data.LateralLimits)</td>
			<td class="bleft btop bright bbottom">@Raw(data.VerticalLimits)</td>
			<td class="bleft btop bright bbottom">@Raw(data.AdvisoryMeasures)</td>
			<td class="bleft btop bright bbottom">@Raw(data.AuthorityResponsible)</td>
			<td class="bleft btop bright bbottom">@Raw(data.Remarks)<br />@Raw(data.ActivityTimes)</td>
		</tr>
	}
	</tbody>
</table>
}