@using System
@using AIP.GUI
@if (Model != null && Model.Count > 0)
{
<table frame="border" align="center">
    <colgroup>
        <col width="25%" />
        <col width="25%" />
        <col width="25%" />
        <col width="25%" />
    </colgroup>
	<thead>
	<tr class="Table-row-type-1">
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("GEN25_1"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("GEN25_2"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("GEN25_3"))</th>
		<th class="bleft btop bright bbottom">@Raw(@Tpl.Text("GEN25_4"))</th>
	</tr>
	</thead>
	<tbody valign="top">
	@foreach (var data in Model)
	{
		<tr>
			<td class="bleft btop bright bbottom">@Raw(data.Id)</td>
			<td class="bleft btop bright bbottom">@Raw(data.StationName)</td>
			<td class="bleft btop bright bbottom">@Raw(data.Facility)</td>
			<td class="bleft btop bright bbottom">@Raw(data.Purpose)</td>
		</tr>
	}
	</tbody>
</table>
}