@using System
@using AIP.GUI
@{
    int Col = 7;
    int i = 1;
}
@if (Model != null && Model.Count > 0)
{
<table frame="border" align="center">
    <colgroup>
        <col width="14%" />
        <col width="14%" />
        <col width="14%" />
        <col width="14%" />
        <col width="14%" />
        <col width="14%" />
        <col width="16%" />
    </colgroup>
	<thead>
	<tr class="Table-row-type-1">
	    @for (i = 1; i <= Col; i++)
	    {
	        <th class="bleft btop bright bbottom">@Raw(@Tpl.Text("GEN35_"+@i))</th>
	    }
	</tr>
	<tr class="Table-row-type-2">
	    @for (i = 1; i <= Col; i++)
	    {
	        <th class="bleft btop bright bbottom">@i</th>
	    }
	</tr>
	</thead>
	<tbody valign="top">
	@foreach (var data in Model)
	{
		<tr>
			<td class="bleft btop bright bbottom">@Raw(data.Name)</td>
			<td class="bleft btop bright bbottom">@Raw(data.CallSign)</td>
			<td class="bleft btop bright bbottom">@Raw(data.Frequency)</td>
			<td class="bleft btop bright bbottom">@Raw(data.BroadcastPeriod)</td>
			<td class="bleft btop bright bbottom">@Raw(data.HoursOfService)</td>
			<td class="bleft btop bright bbottom">@Raw(data.AHIncluded)</td>
			<td class="bleft btop bright bbottom">@Raw(data.ContentsFormatRemarks)</td>
		</tr>
	}
	</tbody>
</table>
}