@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<ApplicationRole> RoleManager

<header class="main-header">
    <!-- Logo -->
    <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>OMS</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>OMS</b></span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                @*@await Component.InvokeAsync("MenuMessage")*@
                <!-- /.messages-menu -->
                <!-- Notifications Menu -->
                @await Component.InvokeAsync("MenuNotification")
                <!-- Tasks Menu -->
                @*@await Component.InvokeAsync("MenuTask")*@
                <!-- User Account Menu -->
                @{
                    var loggedUser = await @UserManager.GetUserAsync(User);
                    var role = await UserManager.GetRolesAsync(loggedUser);
                    var fullname = loggedUser.Firstname + " " + loggedUser.Lastname;
                    var registeredDate = loggedUser.DateRegistered.ToString("MMMM") + ", " + loggedUser.DateRegistered.Year;
                }
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/images/user.png" class="user-image" alt="User Image">
                        <span class="hidden-xs">@fullname</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="~/images/user.png" class="img-circle" alt="User Image">

                            <p>
                                @fullname - @role.FirstOrDefault()
                                <small>@Localizer["Member since"] @registeredDate</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a asp-area="" asp-controller="Manage" asp-action="Index" class="btn btn-default btn-flat">@Localizer["Profile"]</a>
                            </div>
                            <div class="pull-right">
                                <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-default btn-flat">@Localizer["Sign out"]</a>
                            </div>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>

                @*<li class="dropdown user user-menu">*@
                <!--Menu Toggle Button-->
                @*<a asp-area="" asp-controller="Account" asp-action="Logout">
                            <span class="glyphicon glyphicon-log-out"></span>
                        </a>
                    </li>*@

            </ul>
        </div>
    </nav>
</header>