@using Microsoft.AspNetCore.Identity
@using ObstacleManagementSystem.ViewModels.Account

@addTagHelper *, ObstacleManagementSystem

@model LoginViewModel
@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Localizer["Login"] - Obstacle Management System</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/animation.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/Ionicons/css/ionicons.min.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/lib/Ionicons/css/animation.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/Ionicons/css/authenty.css" asp-append-version="true" />
    </environment>
</head>
<body id="signin_main" class="authenty signin-main">
    <div class="section-content">
        <div class="wrap">
            <div class="container">
                <div class="form-wrap">
                    <div class="row">
                        <div class="title animated fadeInDown bg-black">

                        </div>

                        <form asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div>
                                <div class="form-main">
                                    <div class="form-group">
                                        <h2 style="color: #ccc;text-align: center">Obstacle Management System</h2>
                                    </div>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <input asp-for="Username" type="text" asp-placeholder-for="Username" class="form-control" />
                                        <input asp-for="Password" asp-placeholder-for="Password" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-block signin" type="submit">@Localizer["Login"]</button>

                                        <div>
                                            <div class="checkbox">
                                                <label asp-for="RememberMe" class="text-muted">
                                                    <input asp-for="RememberMe" />
                                                    @Html.DisplayNameFor(m => m.RememberMe)
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-footer">
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <i class="fa fa-unlock-alt"></i>
                                            <a asp-action="ForgotPassword">@Localizer["Forgot password"]</a>
                                        </div>
                                        <div class="col-xs-5">
                                            <i class="fa fa-check"></i>
                                            <a asp-action="SignUp" asp-route-returnurl="@ViewData["ReturnUrl"]">@Localizer["Sign Up"]</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/pace/pace.min.js" asp-append-version="true"></script>
        <script src="~/js/app.min.js" asp-append-version="true"></script>
        <script src="~/js/admin.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/app.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
</body>
</html>